.about__box {
  width: 230px;
  height: 209px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.about__item_icon {
  margin: 0 auto;
  display: block;
  padding-top: 32px;
  margin-bottom: 14px;
}

.about__item_title {
  color: var(--text-color, #252b42);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-align: center;
}

.about__item_text {
  color: var(--second-text-color, #737373);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: center;
}

.about__title {
  color: var(--text-color, #252b42);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-align: center;
}

.about__text {
  color: var(--second-text-color, #737373);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  max-width: 511px;
  margin: 0 auto;
}

.about__block{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
