.service__block {
  display: flex;
  gap: 50px;
}

.service__item_title {
  color: var(--text-color, #252b42);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}

.service__item_text {
  color: var(--second-text-color, #737373);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-bottom: 50px;
}

.service__item_block {
  display: flex;
  align-items: start;
  gap: 20px;
}

.service__item_block_title {
  color: var(--text-color, #252b42);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.service__item_block_text {
  color: var(--second-text-color, #737373);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-bottom: 30px;
}

.service__title {
  color: var(--text-color, #252b42);
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
  margin-top: 200px;
}

.service__text {
  color: var(--second-text-color, #737373);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  max-width: 511px;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 20px;
}
